<html>

<head>
    <title>{{Home}}</title>
    <style>
        .main {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>See Reviews for a Restaurant</h1>

        <form action="" method="POST">
            <label>Restaurant</label>&nbsp;<input type="text" name="restaurant" required /><br/><br/>
            <input type="submit" value="submit">
        </form>

        <a href="{{url_for('index')}}">Back to home</a><br/>
    </div>
</body>

</html>