<html>

<head>
    <title>{{Home}}</title>
    <style>
        .main {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>See Reviews for a Restaurant</h1>

        <b>{{msg}}</b> <br/><br/> {% for i in data %}

        <p>User Name : {{i[0]}}</p>
        <p>Restaurant : {{i[1]}}</p>
        <p>Food : {{i[5]}}</p>
        <p>Service : {{i[6]}}</p>
        <p>Ambience : {{i[7]}}</p>
        <p>Price : {{i[8]}}</p>
        <p>Rating : {{i[2]}}</p>
        <p>Review : {{i[3]}}</p>
        <p>Review Time : {{i[4]}}</p>
        <hr> {% endfor%}
        <a href="{{url_for('index')}}">Back to home</a><br/>
    </div>
</body>

</html>